page-ver-categoria-usuario {
  .itemName {
    font-size: 1.5em;
    font-weight: bold;
    font-family: sans-serif;
    color: #2f4f4f;
  }
  .itemDescription {
    font-size: 0.8em;
    color: #708090;
  }
  .itemPrice {
    font-size: 2em;
    vertical-align: middle;
    color: #5f9ea0;
  }
  .itemInfo {
    float: left;
    width: 70%;
  }
  .itemPrice {
    float: right;
  }
  .listItem {
    clear: both;
  }
}
