page-ver-encuesta-del-dia {
    .grafico{
        float:right;
        height: 60%;
        width: 60%;
    }
    .opciones{
        float:right;
        height: 60px;
        width: 150px;
    }
    .menu{
        float:left;
        height: 500px;
        width: 250px;
    }

}
