page-hora-servicio {
        ion-img.grande{
            width: 300px; height: 200px;
        }
        
        .imagen{
            float: left;
            padding: 50px 100px;
        }
        
    
                #pedidos{
                    padding: 5px 80px;
                }
                ·button {
                    padding: 5px 80px;
                }
        
    }
    
