page-pagina-principal {
    ion-img.grande{
        width: 300px; height: 200px;
    }
    
    .imagen{
        float: left;
    }

            #carta {
                padding: 5px 100px;
            }
            #encuesta {
                padding: 5px 76px;
            }
            #tablon {
                padding: 5px 60px;
            }
            #menu {
                padding: 5px 100px;
            }
            #pedidos{
                padding: 5px 80px;
            }
            #avisos{
                padding: 5px 80px;
            }
            ·button {
                padding: 5px 80px;
            }
    
}
